.row{
  margin-top: 35px;
  margin-bottom: 35px
}

.help{
	display: none;
}

.helpContent span{
	text-align: right;
    float: right;
}

.helpTitle{
	font-size: 18px;
    text-align: center;
}