.row:first-of-type{
  margin-top: 35px;
  min-height: 160px
}

.row{
  margin-top: 3px;
  min-height: 160px
}

.help{
	display: none;
}

.helpContent span{
	text-align: right;
    float: right;
}

.helpTitle{
	font-size: 18px;
    text-align: center;
}

.row p{
	color: #838488;
	display: none;
	margin-bottom: 0px;
}