.row:first-of-type {
	margin-top: 35px;
	min-height: 175px
}

.row {
	margin-top: 3px;
	min-height: 175px
}

.help {
	display: none;
}

.helpContent span {
	text-align: right;
	float: right;
}

.helpTitle {
	font-size: 18px;
	text-align: center;
}

.row p {
	color: #838488;
	display: none;
	margin-bottom: 0px;
}

.musicButton {
	content: url("dial-azul_glow1.png");
	height: 153px;
	width: 140px;
}

.musicButton:hover {
	content: url("dial-azul_glow3.png");
	height: 153px;
	width: 140px;
}

.musicButtonPlaying {
	content: url("dial-verde_glow3.png");
	height: 153px;
	width: 140px;
}